[submodule "SeriouslyCommonLib"]
	path = SeriouslyCommonLib
	url = https://github.com/Team488/SeriouslyCommonLib.git
[submodule "XbotCommonLib"]
	path = XbotCommonLib
	url = https://github.com/Team488/SeriouslyCommonLib.git
